/* Mixins: .StandardPageLayout() */
@import "../../../theme/layout/mixins.less";

.OperationResult {
  .StandardPageLayout();

  .MainStack {
    --gap: var(--s3);
  }

  .SuccessText,
  .FailText {
    font-size: var(--s-1);
  }

  .SuccessText {
    color: green;
  }

  .FailText {
    color: red;
  }

  button {
    width: var(--max-width);
    max-width: 100vw;
  }
}
