/* Mixins: .StandardPageLayout() */
@import "../../../theme/layout/mixins.less";

.Luxury {
  .StandardPageLayout();

  .SearchAndResultStack {
    --gap: var(--s4);
  }

  .SearchStack {
    --gap: var(--s2);
  }

  h1 {
    margin: 0;
  }

  span {
    font-size: var(--s-1);
    overflow-wrap: anywhere;
  }

  .SearchBox {
    width: var(--max-width);
    max-width: 100vw;
  }
}
