/* Mixins: .StandardPageLayout() */
@import "../../../theme/layout/mixins.less";

.Login {
  .StandardPageLayout();

  .MainStack {
    --gap: var(--s9);
  }

  .WelcomeStack {
    --gap: var(--s3);
  }

  .LightText {
    display: block;
    font-family: var(--ff-light);
  }
}
